body {
  background-color: rgb(233, 237, 237);
}
.post-container {
  margin: 3rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightblue;
}
.post-image {
  width: 15rem;
}
.post-container-detail {
  margin-left: 2rem;
}
.post-container-detail a {
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .post-container {
    flex-direction: column;
  }
  .post-image {
    width: 100%;
    margin: auto;
    margin-bottom: 1rem;
  }
}
